<div class="modal fade" id="user_edit_modal_<%=user.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <%= render partial: "users/user_profile_header", locals: { user: user, upload_button: false} %>     
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render partial: "users/form", locals: { user: user } %>   
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>